<div class="container styles">
  <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest" class="form-group">
    <input type="text" formControlName="name" class="form-control" placeholder="Enter card holder name">
    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
    <div class="marginTopColor">
      <button type="submit" class="btn btn-primary">
        Pay
      </button>
    </div>
  </form>
  <div *ngIf="isHidden" class="{{alertClass}}" role="alert">
    {{alertText}}
  </div>
  <div class="marginTopColor">
    Use below mentioned "Card Details" for dummy transactions:<br>
    Card Number: 4111 1111 1111 1111<br>
    MM/YY: 03/25<br>
    CVC: 123<br>
    ZIP: 12345
  </div>
</div>