<div class="marginTopColor">
  <h3>Demo - Stripe Payment Gateway Implementaion by Salman Najam</h3>
  <h5 style="color: red">NOTE: Please Install extension "CORS EVERYEHERE", into your browser to check the response.</h5>
  <app-stripe-test></app-stripe-test>
</div>